{% extends 'layout.html' %}


{% block body %}
{% csrf_token %}
<div class="ContentLayout">
    <div class="Pagination">
        <h1>Mesajlar</h1>
    </div>
    <div class="SubContent">
        <div class="tablo" style="padding: 20px;">
            <form>
                <label for="alici">Alıcı</label>
                <input aria-autocomplete="both" type="text" name="alici" id="alici">
            </form>
            <br>
            <textarea style="resize: none;" name="mesajicerik" id="mesajicerik" cols="30" placeholder="Mesajınız" rows="10"></textarea>
            <br>
            <button id="MesajGonder">Gonder</button>
        </div>
    </div>

</div>

{% endblock body %}